.panel-front { 
/*  overflow: hidden;  */
}

.panel-front .contenedor-izquierdo {
	float: left;
	margin-right: 20px;
	width: 630px;
}

.panel-front .contenedor-derecho {
	float: left;
	width: 330px;
}

form .panel-front .contenedor-izquierdo {
	float: left;
	margin-right: 2%;
	width: 68%;
}

form .panel-front .contenedor-derecho {
	float: left;
	width: 30%;
}

.panel-front .contenedor-izquierdo .panel-noticias-autogeneradas {
	float: left;
	margin-right: 20px;
	width: 500px;
}

.panel-front .contenedor-izquierdo .panel-notas-graficas {
	float: left;
	width: 110px;
}

form .panel-front .contenedor-izquierdo .panel-noticias-autogeneradas {
	float: left;
	margin-right: 2%;
	width: 70%;
}

form .panel-front .contenedor-izquierdo .panel-notas-graficas {
	float: left;
	width: 28%;
}


.panel-front .panel-slideshow .inside,
.panel-front .panel-audiovisuales .inside,
.panel-front .panel-6-noticias .inside,
.panel-front .panel-noticias-autogeneradas .inside,
.panel-front .panel-notas-graficas .inside,
.panel-front .panel-titulares .inside,
.panel-front .panel-lo-mas-leido .inside,
.panel-front .panel-reportajes .inside,
.panel-front .panel-opinion .inside,
.panel-front .panel-debate .inside,
.panel-front .panel-especiales .inside {
	margin-bottom: 1em;
}
