/* Globales */

.panel-front .panel-6-noticias .inside {
	border-bottom: 1px solid #bcbcbc;
}

/* Bloque nice menu */

.panel-encabezado .pane-nice-menus-1 {
	position: absolute;
	top: 65px;
}

/* Redes sociales */

.panel-encabezado .pane-block-3 {
	position: absolute;
	top: 5px;
	right: 10px;
}

/* Banner inferior */

#banner-inferior {
  background-color: #c8c8c8;
  width: 980px;
}

#banner-inferior .logo {
  padding: 10px 0 0 10px;
}

#banner-inferior table {
  border-collapse: collapse;
  margin-left: auto;
  width: 900px;
}

#banner-inferior table th { 
  text-align: left; 
}

#banner-inferior table th.ulan,
#banner-inferior table th.aliados {
  border-bottom: 1px solid #a0a0a0;
}

#banner-inferior table th,
#banner-inferior table tr td a,
#banner-inferior table th a,
#banner-inferior .contacto .izquierda div, 
#banner-inferior .contacto .izquierda div a {
  color: #4d4d4d;
  font-family: sans-serif;
  font-size: 12px;
}

#banner-inferior table th,
#banner-inferior table th a,
#banner-inferior .contacto .izquierda div, 
#banner-inferior .contacto .izquierda div a {
  font-weight: bold;
}

#banner-inferior table tr td { 
  padding: 0 10px;
}

#banner-inferior table tr td.fila1 {
  padding-top: 10px;
}

#banner-inferior table th { 
  padding: 0 10px 10px 10px;
}

#banner-inferior table th a,
#banner-inferior table tr td a,
#banner-inferior .contacto .izquierda div a {
  text-decoration: none;
}

#banner-inferior table th.multimedia,
#banner-inferior table th.snmp,
#banner-inferior table th.ulan,
#banner-inferior table th.aliados,
#banner-inferior table td.barra {
  border-left: 1px solid #a0a0a0;
}

#banner-inferior .contacto {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #a0a0a0;
}

#banner-inferior .contacto .izquierda {
  float: left;
  width: 836px;
}

#banner-inferior .contacto .derecha {
  float: left;
  width: 106px;
}

#banner-inferior .contacto .derecha .imagen {
  float: left;
  margin-right: 5px; 
}

/* Slideshow */

#views_slideshow_cycle_main_noticias-block_1 #views_slideshow_cycle_teaser_section_noticias-block_1 .views-slideshow-cycle-main-frame-row ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#views_slideshow_cycle_main_noticias-block_1 #views_slideshow_cycle_teaser_section_noticias-block_1 .views-slideshow-cycle-main-frame-row-item {
	position: relative;
	width: 630px;
	height: 354px;
}

#views_slideshow_cycle_main_noticias-block_1 #views_slideshow_cycle_teaser_section_noticias-block_1 .views-slideshow-cycle-main-frame-row-item .contenido {
	background: url("/sites/all/themes/avn/images/background-transparencia.png");
	position: absolute;
	bottom: 0;
	padding: 10px;
	width: 610px;
}

#views_slideshow_cycle_main_noticias-block_1 #views_slideshow_cycle_teaser_section_noticias-block_1 .views-slideshow-cycle-main-frame-row-item .contenido .titulo a {
	color: white;
	font-family: "Verdana", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

#views_slideshow_cycle_main_noticias-block_1 #views_slideshow_cycle_teaser_section_noticias-block_1 .views-slideshow-cycle-main-frame-row-item .contenido .sumario {
	color: #e2e2e2;
	font-family: "Verdana", sans-serif;
	font-size: 12px;
}

#widget_pager_bottom_noticias-block_1 {
	padding: 10px 0;
	background: url("/sites/all/themes/avn/images/background-slideshow-pager-bottom.png") repeat-y;
	position: relative;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item ul {
	margin: 0;
	padding: 0;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item ul li {
	list-style: none;
	display: block;
	width: 141px;
	height: 82px;
}

#widget_pager_bottom_noticias-block_1 {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item {
	display: inline-block;
	vertical-align: top;
	width: 141px;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item .views-field-php {
	position: absolute;
	width: 141px;
	height: 91px;
	top: 1px;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item.active .views-field-php {
	background: url("/sites/all/themes/avn/images/borde-slideshow-thumbnail.png") no-repeat;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item.active .views-content-field-titulo-portada a {
	color: #31487e;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item .views-content-field-titulo-portada {
	line-height: 10px;
	margin-top: 5px;
	width: 141px;
}

#widget_pager_bottom_noticias-block_1 .views-slideshow-pager-field-item .views-content-field-titulo-portada a {
	color: #444;
	font-family: "Verdana", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

#views_slideshow_pager_field_item_bottom_noticias-block_1_0 ~ div {
	margin-left: 22px;
}

/* 6 Noticias */

.vista-6-noticias {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}

.vista-6-noticias .views-row {
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
	vertical-align: top;
	width: 200px;
}

.vista-6-noticias .views-row-2,
.vista-6-noticias .views-row-3,
.vista-6-noticias .views-row-5,
.vista-6-noticias .views-row-6 {
	margin-left: 15px;
}

.vista-6-noticias .views-row ul {
	margin: 0;
	padding: 0;
}

.vista-6-noticias .views-row ul li {
	list-style: none;
}

.vista-6-noticias .views-row div.categoria {
	background: #31487e;
	height: 23px;
	line-height: 23px;
	position: absolute;
	top: 0;
	width: 190px;
	padding: 2px 5px;
}

.vista-6-noticias .views-row div.categoria a {
	color: white;
	font-family: "Verdana", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.vista-6-noticias .views-row div.titulo {
	line-height: 10px;
}

.vista-6-noticias .views-row div.titulo a {
	color: #31487e;
	font-size: 12px;
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

/* Noticias autogeneradas */

.vista-noticias-autogeneradas div.noticia {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #bcbcbc;
}

.vista-noticias-autogeneradas div.categoria {
}

.vista-noticias-autogeneradas div.categoria a {
	color: white;
	background: #8e99b4;
	padding: 5px 10px;
	font-family: "Verdana", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.vista-noticias-autogeneradas ul {
	margin: 0 !important;
	padding: 0 !important;
}

.vista-noticias-autogeneradas ul li {
	list-style: none;
}

.vista-noticias-autogeneradas .imagen {
	float: left;
	width: 160px;
	height: 110px;
	margin-right: 10px;
}

.vista-noticias-autogeneradas .sumario {
	color: #444;
	font-family: "Verdana", sans-serif;
	font-size: 12px;
	float: left;
	width: 280px;
}

.vista-noticias-autogeneradas div.titulo {
	margin: 10px 0;
}

.vista-noticias-autogeneradas div.titulo a {
	color: #31487e;
	font-family: "Verdana", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
