#nice-menu-1 {
  position: absolute;
  padding: 0;
  margin: 65px 0 0 10px;
}

#nice-menu-1 li {
  display: table-cell;
  vertical-align: middle;
}

#nice-menu-1 li.menu-403 {
	padding-right: 55px;
}

#nice-menu-1 li.menu-403 ~ li {
	padding: 0 4px 0 4px;
}

#nice-menu-1 li a { 
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}

#block-imagemenu-1 {
  position: absolute;
  right: 0;
  margin-right: 3px;
  margin-top: 33px;
  z-index: 1;
}
